* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;

}

header {
    background-color: rgb(104, 104, 104);
    color: #ffffff;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* margin-top: 10px; */
}

.navbar ul li a {
    color: #ffffff;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.5s;
}

.navbar ul li a:hover {
    background-color: aquamarine;
    border-radius: 7px;


}

h1 {
    font-size: 36px;
    margin-top: 15px;
    font-weight: 700;
}

.photo-gallery {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 15px;
    padding: 30px;
    max-width: 1200px;
    margin: 10px auto;
}

.photo-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

}

.photo-item:hover img {
    transform: scale(1.2);
}

.photo-item .wide {
    grid-column: span 2;
}

.photo-item .tall {
    grid-row: span 2;
}












@media(max-widht:480px) {
    .photo-gallery {

        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: 150px;
    }

    .photo-item .wide {
        grid-column: span 1;
    }
     
    .photo-item .tall{
        grid-row: span 1;
    }


}